+++
title = "Cryptographic Migration & Agility"
linkTitle = "Cryptographic Migration & Agility"
+++

{{< blocks/cover title="Cryptographic Migration & Agility" image_anchor="top" height="full" color="dark" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-light mr-3 mb-4" href="{{< relref "/docs" >}}">
		Content
		<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-dark mr-3 mb-4" href="https://code.fbi.h-da.de/cspub/cma">
		Original Paper <i class="fas fa-book ml-2 "></i>
	</a> -->
	<p class="display-4">An open community site for sharing any relevant research, findings, and solutions on PQC migration and cryptographic agility.</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/lead color="primary" >}}
Post-quantum cryptographic schemes have been under development for several years. Very soon there will be standardized post-quantum algorithms replacing the previous standards, which will eventually become obsolete. In order for quantum-resistant cryptographic Measures to be utilized, one needs more than simply developing secure post-quantum algorithms. The migration towards PQC poses great challenges on different levels. Those are not only restricted to the integration into existing protocols, but also include performance issues such as hardware specifications and memory usage, and especially the uncertainty of long term security of the new algorithm families. Moreover, a major challenge lies within finding suitable means of communicating and negotiating new algorithms and protocol parameters between different IT-systems. This leads to the urgent need for establishing the concept of crypto-agility, so as to be prepared for the rapid changes of cryptography, and insure the compatibility in all possible scenarios and settings.
{{< /blocks/lead >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-user-secret" title="Applied Cyber-Security" url="https://fbi.h-da.de/en/research/research-groups/applied-cyber-security-darmstadt" %}}
Applied Cyber-Security research group at Darmstadt University of Applied Sciences
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-user-shield" title="User-Centered Security" url="https://fbi.h-da.de/en/research/research-groups/user-centered-security" %}}
User-Centered Security research group at Darmstadt University of Applied Sciences
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Contributions Welcome!" url="https://code.fbi.h-da.de/cspub/cma" %}}
Send a Pull Request to our repository on **GitLab** to contribute to this site
{{% /blocks/feature %}}

{{< /blocks/section >}}
